.contact_form {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  top: 10%;
  left: 10%;
  background-color: var(--clr-accent-100);
  border-radius: 0.4rem;
  box-shadow: 0 0 10px 2px var(--clr-primary-900-50);
}

.contact_form > button {
  padding: 0.65em 2em;
  outline: none;
  border: none;
  background-color: var(--clr-primary-600);
  color: var(--clr-accent-100);
  font-size: var(--fs-600);
  border-radius: 0.35em;
  transition: padding 250ms ease-in-out, background-color 100ms ease-in,
    opacity 100ms ease-in;
  cursor: pointer;
}

.contact_form > button:hover,
.contact_form > button:focus {
  padding: 0.65em 2.5em;
  background-color: var(--clr-primary-800);
}

.contact_form > button:disabled {
  background-color: var(--clr-primary-800);
  cursor: not-allowed;
  opacity: 0.75;
  color: var(--clr-grey-100);
}
