.section {
  min-height: 100lvh;
  gap: 1rem;
  position: relative;
  color: var(--clr-primary-450);
  margin-bottom: 4rem;
  padding: 2rem 1rem;
}
.section > h1 {
  font-size: var(--fs-xl);
  padding: 2rem 0;
}
