.skillBadge {
  --dashArray: 0;
  --dashArrayOffset: 0;
  --strokeWidth: 0.9rem;
  --strokeColor: var(--clr-primary-450);
  --shadow: 0 0 24px var(--clr-primary-100-80);

  --containerRadius: 8.5em;

  font-size: var(--fs-600);
  flex-shrink: 0;
  border-radius: 50vw;
  max-width: var(--containerRadius);
  max-height: var(--containerRadius);
  aspect-ratio: 1 / 1;
  position: relative;
  box-shadow: var(--shadow);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.skillBadge::before {
  content: "";
  position: absolute;

  inset: 0;
  margin: auto;
  border-radius: 50%;
  width: calc(100% - (var(--strokeWidth) * 2));
  height: calc(100% - (var(--strokeWidth) * 2));
  box-shadow: inset var(--shadow);
}

.details {
  position: absolute;
  top: calc(100% + 0.8rem);
  width: calc(100% + 4rem);

  left: 50%;
  transform: translateX(-50%);
  min-height: 2rem;
  padding: 1em;
  border-radius: 0.4em;
  display: none;
  background-color: var(--clr-accent-100);
  box-shadow: 0 0 32px var(--clr-accent-900-50);
  z-index: 50;
}

.details::before {
  content: "";
  position: absolute;
  top: -1.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;

  border: 1rem solid transparent;
  border-bottom-color: var(--clr-accent-100);

  z-index: -1;
}
.details > h5,
.details > h6 {
  font-size: var(--fs-600);
}

.details > ul {
  padding: 0.4em 1em;
  font-size: var(--fs-400);
  font-weight: 500;
}

.skillBadge:hover .details {
  display: block;
  opacity: 0;
  animation: reveal 250ms forwards ease-in-out;
}

.skillBadge > svg {
  width: 100%;
  height: 100%;
}

.skillBadge > svg > circle {
  stroke-width: 10px;
  stroke-linecap: round;

  fill: none;
}

.skillBadge > svg > circle:last-child {
  stroke-dasharray: var(--dashArray);
  stroke-dashoffset: var(--dashArray);
  stroke: var(--strokeColor);
  stroke-width: var(--strokeWidth);

  animation: loader 550ms forwards linear;
}

.skillBadge > svg > circle:first-child {
  stroke-dasharray: var(--dashArray);
  stroke-dashoffset: 2;
  stroke: var(--clr-primary-100-50);
  stroke-width: var(--strokeWidth);
}

.icon {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50%;
  height: 50%;
}

.icon > svg {
  --icon-size: 100%;
  fill: var(--strokeColor) !important;
  color: var(--strokeColor);

  width: 100%;
  height: 100%;
}

.skillBadge > h3 {
  text-align: center;
  font-size: var(--fs-900);
  color: var(--strokeColor);
  font-weight: 600;
}

@keyframes loader {
  100% {
    stroke-dashoffset: var(--dashArrayOffset);
  }
}

@keyframes reveal {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
