.contact_container {
  display: flex;
  gap: 1rem;
  position: relative;
  width: 100%;

  padding: 1em;
}

.contact_container > * {
  width: min(40rem, 90%);
  height: 95%;
  position: absolute;
  top: 50%;
  left: 55%;
  border-radius: 0.35em;
  padding: 2rem;
  box-shadow: 0 0 3px var(--clr-accent-900-50);
}

.detail {
  transform: translate(-60%, -50%);
  background-color: var(--clr-primary-600);
}
